* {
    border-box: box-sizig;
}

body {
    padding: 0;
    margin: 20px;
    background-image: url(man-1.jpg);
    background-position: center top;
    background-size: 100%;
    background-repeat: no-repeat;
    font-family: Verdana sans-serif;
}

header#naglowek {
    color: white;
    margin-top: 25%;
}

span {
    font-size: 30px;
}
