/*selektor znacznika */

* {color: black;
}

.id-text {
    color:blue;
    font-size:22px;
}

.link, span, #title {
    background-color:yellow;
    color:green;
}

#potomek-bezposredni > p {
    
    color: brown;
    
    }

#lista a {
    
    font-weight:bold;
    
    
}

/*seslektor konkretnego elementu*/

#lista2 li:nth-child(2){
    
    color:blueviolet;
    font-size:20px;
}

#lista3 li:nth-child(){
    
    color:blueviolet;
    font-size:20px;
}

/*nth-child służy do wybierania konkretnych elementów z listy do ostylowania*/

#lista3 li:nth-child(3) #lista3 li:nth-child(5) #lista3 li:nth-child(6)


/*selektor bliskiego rodzeństwa*/

header h2+h3 {
    color:red;
}

/*selektor rodzeństwa*/
section h2~h3 {
    color:darkblue;
    
}




/*selektor wykluczający*/
ul li:not(.last-item) {
    color:hotpink;
}

/*selektor atrybutu*/

link a [href="http://google.pl"]{
    color:yellowgreen;
}




/*elementy liniowe układają się obo siebie, a blokowe jedne pod drugim.
pozycja relatywNa. Każdy element blokowy zajmuje okreśłoną pozycje. mIMO ŻE przniose blok, to w jego pierwotnym miejscy bytowania nie może nic 
wskoczyć, Pozycjonowanie relatywne nie zmienia pozycji dokumneti*/


/*pozycjonowanie aksolutne - element nie ma rezerwacji miejsca pierwotnego. Jeśli przesuwam element to na miejsce zwolnione wjeźdza inny element*/


/*pozycjonowanie fixet - umożliwia pozycjonowanie względem okna przeglądarki. Na przykład element blokowy przestaje mieć 100%szerokości rodzica dlatego trzeba nadać szerokość, domyślnie ma na przykład 0px, To odnosi się też do absolite */
















